.container-fluid{
    width: 100%;
    background-color: aliceblue;
    height: 100%;
}
.header{
    background-color: rgb(44, 165, 125);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-footer{
    background-color: rgb(40, 161, 121);
}
